body{
    background-color: aquamarine ;
    
}

header{
    background-color: rgb(154, 154, 235);
    border-radius: 5px;
    margin-inline: 200px;

}
nav{
    display: flex;
    padding-left: 50px;
}

#links{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;   
    padding-left: 20vw;
    padding-top:10px ;

}
li{
    list-style-type: none;
    font-weight: 700;
}
li a {
    text-decoration: none;
    color: black;
}



.homepage{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;

    background-color: red;
    border-radius: 5px;

}
#Welcome , #download{
    margin-inline: 400px;

}
#Stacks{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.stack{
    background-color: brown;
    height: 300px;
}
#TechStack{
    width: 500px;
    margin-inline: 250px;
    width: 800px ;
    height: 400px;
}